.navbar {
    padding: 30px 50px;
    display: flex;
    place-content: center space-between;
}

.logo-img img {
    width: 40px;
    object-fit: contain;
}

.navbar-items {
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

.navbar-items  li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}
.navbar-items > li > a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.navbar-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar-link.active a{
    color: #FF8F20;
}