.banner-section {
    display: flex;
    flex-direction: row;
    padding: 7em 0;
}

.banner-section > .content {
    border-bottom: 4px solid #282c34;
    display: flex;
    place-content: center center;
    flex-direction: column;
    float: right;
    margin-left: 650px;
    padding-bottom: 15px;
}

.banner-section > .content > h1 {
    font-size: 55px;
    margin: 0;
}